.title {
    color: white;
    font-family: "IM FELL French Canon";
    font-size: 32px;
    letter-spacing: 4px;
}

nav {
    background-color: #4A6745;
}

body{
    font-family: "IM FELL French Canon";
    background-color: #b5c7b1;
    overflow-x: hidden;
    margin: 0;
}

.header{
    color: #4A6745;
}
.dropdown-menu .dropdown-item {
    padding: 0;
    font-size: 0.9rem;
}
