.title {
    color: white;
    font-family: "IM FELL French Canon";
    font-size: 32px;
    letter-spacing: 4px;
}

nav {
    background-color: #4A6745;
}

body{
    font-family: "IM FELL French Canon";
    background-color: #b5c7b1;
    
}

.header{
    color: #4A6745;
}